*{
  margin: 0;
  background-color: #0495ef;
  color: white;
  font-family: 'Roboto Mono', monospace;
}

.about{
  padding-left: 15px;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

p{
  font-size: 1.5rem;
}

h1, h2, p{
  padding-top: 15px;
}

.social{
  padding-left: 7.5px;
}

.fa{
  padding-top: 15px;
  padding-left: 7.5px;
}

.fa:hover{
  color: #ff5050;
}

a:link{
  color: white;
}

a:visited{
  color: white;
}
