*{
  margin: 0;
  padding: 0;
}

h1{
  font-family: 'Josefin Slab', serif;
}

p{
  font-family: 'Josefin Slab', serif;
}

/*----------------Header and Menu Style----------------*/
header{
  display: flex;
  background-color: #262626;
  height: 50px;
}
#menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}
/* Large/Normal Screens*/
@media all and (max-width: 800px) {
  #menu{
    justify-content: space-around;
  }
  ul#menu li{
    font-size: 150%;
  }
}
/* Small screens */
@media all and (max-width: 500px) {
  #menu{
    flex-direction: column;
  }
  ul#menu li{
    font-size: 180%;
  }
}
ul#menu{
  z-index: 5;
  position: absolute;
  left: 80%;
  padding-top: 20px;
  padding-bottom: 10px;
}
ul#menu li{
  font-family: 'Josefin Slab', serif;
  font-size: 120%;
  font-weight: bold;
  display: inline;
  color: white;
  text-decoration: none;
  padding-left: 2rem;
}
ul a:link{
  color: white;
  text-decoration: none;
}
ul a:visited{
  color: white;
  text-decoration: none;
}
ul a:hover{
  color: #991414;
  text-decoration: underline;
}
ul a:active{
  color: white;
  text-decoration: none;
}
/*----------------Site Banner Style----------------*/
#underlay-image{
  width: 100%;
  height: 865px;
  position: relative;
  -webkit-filter: grayscale(100%);
}

#overlay-image{
  width: 100%;
  height: 865px;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

section.homepage-image h1{
  font-weight: bolder;
  font-size: 500%;
  text-align: center;
  position: absolute;
  top: 40%;
  width: 98%;
  z-index: 5;
  color: white;
  margin: auto;
}

span{
  color: #991414;
}

/*----------------About me Style----------------*/
.about-me-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  padding-bottom: 5rem;
  padding-top: 5rem;
}
section.homepage-about-me{
  position: relative;
  background-color: white;
}
section.homepage-about-me h1{
  color:  #262626;
  text-align: center;
  font-size: 250%;
  padding-top: 30px;
}
section.homepage-about-me p{
  color:  #262626;
  padding-top: 10px;
  padding-bottom: 30px;
  text-align: left;
  font-size: 150%;
  margin: auto;
  width: 60%;
}

/*----------------Gallery Style----------------*/
#gallery-ig{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 150px;
  color: #991414;
}

.image-wrap{
  margin: auto;
  width: 100%;
  text-align: center;
  padding-bottom: 5rem;
}

img.gallery{
  border-radius: 50%;
  height: 350px;
  width: 350px;
  padding: 20px;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img.gallery:hover {
  opacity: 0.5;
}

p.gallery-text{
  margin: auto;
  font-size: 150%;
  text-align: center;
  width: 65%;
  padding: 25px;
}

/*----------------Contact Style----------------*/
section.contact-me{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  height: 20rem;
  background-color: #991414;
}

section.contact-me h1{
  font-size: 300%;
  font-weight: bolder;
  padding-top: 8.5rem;
  color: white;
}

/*----------------Footer Style----------------*/
footer{
  height: 150px;
  background-color: white;
  border-top: solid;
  border-color: color: #262626;
}
footer h1{
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
  color: black;
  margin: auto;
  width: 60%;
  padding-top: 40px;
}
.icons{
  margin: auto;
  display: inline;
  padding: 8px;
  float: right;
}
i{
  padding: 3px;
}
a:link {
  color: #262626;
}
a:visited {
  color: #262626;
}
a:hover {
  color: #991414;
}
a:active {
  color: #262626;
}
