*{
  margin: 0;
}

body{
  margin: 0;
  padding: 0;
}

header{
  background-color: #262626;
  height: 50px;
}

h1{
  font-family: 'Josefin Slab', serif;
}

p{
  font-family: 'Josefin Slab', serif;
}

ul#menu{
  z-index: 5;
  position: absolute;
  left: 82%;
  padding-top: 20px;
  padding-bottom: 10px;
}

ul#menu li{
  font-family: 'Josefin Slab', serif;
  font-size: 120%;
  font-weight: bold;
  display: inline;
  color: white;
  text-decoration: none;
  padding: 5px;
}

ul a:link{
  color: white;
  text-decoration: none;
}

ul a:visited{
  color: white;
  text-decoration: none;
}

ul a:hover{
  color: white;
  text-decoration: underline;
}

ul a:active{
  color: white;
  text-decoration: none;
}

#underlay-image{
  width: 100%;
  height: 865px;
  position: relative;
}

#overlay-image{
  width: 100%;
  height: 865px;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

section.homepage-image h1{
  font-weight: bolder;
  font-size: 500%;
  text-align: center;
  position: absolute;
  top: 40%;
  width: 98%;
  z-index: 5;
  color: white;
  margin: auto;
}

section.homepage-opening{
  height: 350px;
  background-color: white;
}

section.homepage-opening h1{
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 200%;
  padding-top: 100px;
  padding-bottom: 10px;
}

section.homepage-opening p{
  text-align: center;;
  color: black;
  font-size: 150%;
  padding: 5px;
  width: 70%;
  margin: auto;
}

section.homepage-about-me{
  height: 350px;
  background-color: #262626
}

section.homepage-about-me h1{
  color: white;
  padding-top: 45px;
  text-align: center;
  font-size: 200%;
}

section.homepage-about-me p{
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 150%;
  margin: auto;
  width: 60%;
}

footer{
  height: 150px;
  background-color: white;
  border-top: solid;
  border-color: color: #262626;
}

footer h1{
  text-align: center;
  font-size: 200%;
  font-weight: bolder;
  color: black;
  margin: auto;
  width: 60%;
  padding-top: 40px;
}

.icons{
  margin: auto;
  display: inline;
  padding: 8px;
  float: right;
}

i{
  padding: 3px;
}
a:link {
  color: #262626;
}

a:visited {
  color: #262626;
}

a:hover {
  color: #262626;
}

a:active {
  color: #262626;
}

#gallery-ig{
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 150px;
}

.image-wrap{
  margin: auto;
  width: 100%;
  text-align: center;
}

img.gallery{
  border-radius: 50%;
  height: 450px;
  width: 450px;
  padding: 20px;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

img.gallery:hover {
  opacity: 0.5;
}

p.gallery-text{
  margin: auto;
  font-size: 200%;
  text-align: center;
  width: 65%;
  padding: 25px;
}

p.blog-opening{
  margin: auto;
  font-size: 200%;
  text-align: center;
  padding: 25px;
  border-bottom: solid;
  border-color: #262626;
}

img.blog-img{
  border-radius: 50%;
  height: 450px;
  width: 450px;
  padding: 20px;
  opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  text-align: center;
}

img.blog-img:hover {
  opacity: 0.5;
}

p.post-preview{
  margin: auto;
  text-align: left;
  float: right;
  width: 40%;
  font-size: 150%;
  padding-top: 80px;
  padding-right: 270px;
}
